.input {
  box-sizing: border-box;
  width: 100%;
  margin: 0;
  padding: 0;

  color: #000000;
  border: none;
  background-color: #f9f9f9;
}

.input::placeholder {
  color: var(--grey-color);
}

.input:focus {
  outline: none;
}

.input:focus-visible {
  outline: 3px solid var(--blue-color);
  outline-offset: 3px;
}
