:root {
  --dark-color: #073042;
  --green-color: #2BE080;
  --blue-color: #3456F3;
  --red-color: #FF3055;
  --grey-one-color: #A0A0A0;
  --grey-two-color: #F9F9F9;
  --grey-three-color: #F5F5F5;
  --grey-four-color: #E8E8E8;
}